<!-- Brand Logo -->
<a href="/admin#" class="brand-link">
    <img src="dist/img/Pikachu.ico" alt="Pokemon Trader" class="brand-image elevation-0">
    <span class="brand-text font-weight-light" style="font-size: 15px">
        <strong>Pokemon Trader</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

    <!-- Usuário logado -->
    <div class="user-panel mt-2 pb-1 mb-2 d-flex">
        <div class="image">
            <img src="dist/img/usuarios/<%= foto_login %>" class="rounded-circle elevation-1" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">
                <%= nome_login %>
            </a>
            <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
            </span>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- /Menu cadastros -->
            <li class="nav-item has-treeview <%= CadastroOpen %>">

                <!-- Cadastro -->
                <a href="#" class="nav-link <%= Cadastro %>">
                    <i class="nav-icon fas fa-tools"></i>
                    <p>Cadastros<i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <!-- /Sub menus -->
                <ul class="nav nav-treeview" id="myMenu">

                    <!-- Usuario -->
                    <li class="nav-item">
                        <a href="/usuario" class="nav-link <%= CadUsuario %>">
                            <i class="fas fa-user-tie nav-icon" style="font-size: smaller;"></i>
                            <p>Usuário (Jogador)</p>
                        </a>
                    </li>

                    <!-- Pokemon -->
                    <li class="nav-item">
                        <a href="/pokemon" class="nav-link <%= CadPokemon %>">
                            <i class="fas fa-heart nav-icon" style="font-size: smaller;"></i>
                            <p>Pokemon</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- /Menu Trade -->
            <li class="nav-item has-treeview <%= TradeOpen %>">

                <!-- Trade -->
                <a href="#" class="nav-link <%= Trade %>">
                    <i class="nav-icon fas fa-calculator"></i>
                    <p>Trade<i class="right fas fa-angle-left"></i>
                    </p>
                </a>

                <!-- /Sub menus -->
                <ul class="nav nav-treeview" id="myMenu">

                    <!-- Troca -->
                    <li class="nav-item">
                        <a href="/troca" class="nav-link <%= CadTroca %>">
                            <i class="fas fa-gavel nav-icon" aria-hidden="true" style="font-size: smaller;"></i>
                            <p>Troca</p>
                        </a>
                    </li>

                    <!-- Troca -->
                    <li class="nav-item">
                        <a href="/trocas" class="nav-link">
                            <i class="fas fa-list-alt nav-icon" aria-hidden="true" style="font-size: smaller;"></i>
                            <p>Histórico</p>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</div>