<!-- Page Content (header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row sm-2">
            <!-- Título -->
            <div class="col-sm-6">
                <h1>Painel de Pokemons</h1>
            </div>
            <!-- Navegação histórica -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin">Home</a></li>
                    <li class="breadcrumb-item active">Trade</li>
                    <li class="breadcrumb-item active">Troca</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Page Content (conteúdo) -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <!-- Para iniciar fechado, adicione collapsed-card na class-->
                <div class="card card-primary card-outline">

                    <!-- ######################################################################### Cabeçalho -->
                    <div class="card-header">

                        <div class="btn-group">

                            <label for="usuario_troca_filter_ADD" class="label">Filtre o usuário / Jogador: </label>&nbsp;&nbsp;

                            <select class="form-control form-control-sm select2"
                                  style="width: auto;" name="usuario_troca_filter_ADD"
                                  id="usuario_troca_filter_ADD"
                                  onchange="filtrarUsuario(this)" >
                                  <option value="">-- Selecione --</option>
                                  <% DTUsuario.forEach((row, index) => { %>
                                    <option value="<%= row.familia %>"><%= row.usuario %>
                                    </option>
                                  <% }) %>

                              </select>&nbsp;
                        </div>

                        <!-- Botões -->
                        <div class="btn-group">
                            <!-- Abre o modal para INSERT -->
                            <button type="button" id="btn_Trocar" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                data-target="#modalTROCAR" onclick="( function(){  document.getElementById('dados_TROCA').value = '1,10,15'; 
                            })()"   >&nbsp;Trocar&nbsp;
                            </button>
                        </div>

                        <div class="btn-group">
                            <!-- Botão para exportar dados da tabela (tableExport) -->
                            <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>

                            <!-- Exportar -->
                            <div class="dropdown-menu" role="menu">
                                <!-- Exportar para Excel -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                $('#TBtable').tableExport({type:'excel', fileName: 'Materiais', exportHiddenCells: true});                
                                })()"><i class="fas fa-file-excel" style="color: #118311;"></i>&nbsp;&nbsp;Ms-Excel</a>
                                <!-- Exportar para PDF -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                $('#TBtable').tableExport({type:'pdf', fileName: 'Materiais', exportHiddenCells: true});               
                                })()"><i class="fas fa-file-pdf" style="color: #d17021;"></i>&nbsp;&nbsp;PDF</a>
                            </div>
                        </div>

                        <!-- Botão Ocultar ou exibir o card -->
                        <div class="card-tools">
                            <!-- Botão Abrir/fechar card (Icone: fa-minus ou fa-plus) -->
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- Botão destruir card -->
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-body scrollable-panel" style="overflow-y: scroll; height:350px; width: auto;">

                            <!-- ######################################################################### Tabela -->
                            <div class="card-body">

                                <% if (DTPokemon.length > 0) {%>
                                    <table id="TBtable" class="table table-hover">
            
                                        <!-- Cabeçalho: Titulos da tabela -->
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Seleção</th>
                                                <th scope="col">Trocar</th>
                                                <th scope="col">Id Usuário</th>
                                                <th scope="col">Usuário</th>
                                                <th scope="col">Id Pokemon</th>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Descricao</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Experiencia</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <!-- Detalhes: Dados da tabela -->
                                            <% DTPokemon.forEach((row, index) => { %>
                                            <tr>
                                                <td><input type="checkbox" name="check_troca_ADD" ></td>

                                                <td width="10"  >
                                                    <input type="text" class="form-control form-control-sm" 
                                                    name="" id=""  width="10" >
                                                </td>

                                                <td><%=row.id_usuario%></td>
                                                <td><%=row.usuario%></td>
                                                <td><%= row.id_pokemon %></td>
                                                <td>
                                                    <a class='data_lighter' style="cursor: zoom-in;"
                                                        href="dist/img/pokemons/<%= row.foto %>">
                                                        <img src="dist/img/pokemons/<%= row.foto %>"
                                                            class="rounded-wide img-table-m" alt="">
                                                    </a>
                                                </td>

                                                <td><%= row.nome %></td>
                                                <td style="min-width: 150px;"><%= row.descricao %></td>
                                                <td><%= row.quantidade %></td>
                                                <td><%= row.total_experiencia %></td>
            
                                            </tr>
                                            <% }) %>
                                        </tbody>
            
                                        <!-- Pesquisa -->
                                        <tfoot>
                                            <tr>
                                                <th scope="col">Seleção</th>
                                                <th scope="col">Trocar</th>
                                                <th scope="col">Id Usuário</th>
                                                <th scope="col">Usuário</th>
                                                <th scope="col">Id Pokemon</th>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Descricao</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Experiencia</th>
                                            </tr>
                                        </tfoot>
            
                                    </table>
                                    <% } else { %>
                                    <!-- Não existe dados na tabela -->
                                    <p class="text-center">Clique <a data-toggle="modal" data-target="#modalADD"
                                            style="cursor:pointer; color:rgb(79, 79, 255)"> aqui </a> para adicionar um novo
                                        registro.</p>
                                    <% } %>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="card-header">
                        <label for="lblListaPokemon" class="label"> <strong> Meu estoque de Pokemons</strong></label>
                    </div>
                    

                    <div class="panel panel-primary">
                        <div class="panel-body scrollable-panel" style="overflow-y: scroll; height:350px; width: auto;">

                            <div class="card-body">

                                <% if (DTMeusPOkemons.length > 0) {%>
                                    <table id="TBMeusPokemons" class="table table-hover">
            
                                        <!-- Cabeçalho: Titulos da tabela -->
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Seleção</th>
                                                <th scope="col">Trocar</th>
                                                <th scope="col">Id Pokemon</th>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Descricao</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Experiencia</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <!-- Detalhes: Dados da tabela -->
                                            <% DTMeusPOkemons.forEach((row, index) => { %>
                                            <tr>
                                                <td><input type="checkbox" name="check_troca_ADD" ></td>

                                                <td width="10"  >
                                                    <input type="text" class="form-control form-control-sm" 
                                                    name="" id=""  width="10" >
                                                </td>

                                                <td><%= row.id_pokemon %></td>
                                                <td>
                                                    <a class='data_lighter' style="cursor: zoom-in;"
                                                        href="dist/img/pokemons/<%= row.foto %>">
                                                        <img src="dist/img/pokemons/<%= row.foto %>"
                                                            class="rounded-wide img-table-m" alt="">
                                                    </a>
                                                </td>

                                                <td><%= row.nome %></td>
                                                <td style="min-width: 150px;"><%= row.descricao %></td>
                                                <td><%= row.quantidade %></td>
                                                <td><%= row.total_experiencia %></td>
            
                                            </tr>
                                            <% }) %>
                                        </tbody>
            
                                        <!-- Pesquisa -->
                                        <tfoot>
                                            <tr>
                                                <th scope="col">Seleção</th>
                                                <th scope="col">Trocar</th>
                                                <th scope="col">Id Pokemon</th>
                                                <th scope="col">Foto</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Descricao</th>
                                                <th scope="col">Quantidade</th>
                                                <th scope="col">Experiencia</th>
                                            </tr>
                                        </tfoot>
            
                                    </table>
                                    <% } else { %>
                                    <!-- Não existe dados na tabela -->
                                    <p class="text-center">Clique <a data-toggle="modal" data-target="#modalADD"
                                            style="cursor:pointer; color:rgb(79, 79, 255)"> aqui </a> para adicionar um novo
                                        registro.</p>
                                    <% } %>                                


                            </div>

                        </div>
                    </div>



                    <!-- ######################################################################### Modal para ADICIONAR -->
                    <div class="modal fade" id="modalTROCAR" data-backdrop="static">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Efetivação Troca</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Conteúdo central do modal -->
                                <form role="form" action="/addPokemon" method="post" enctype="multipart/form-data">
                                    <!-- Campos do formulário -->
                                    <div class="modal-body">
                                        <!-- Cod -->
                                        <div class="row" style="display: none;">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="cod_ADD" class="label">Cod</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="cod_ADD" id="cod_ADD" placeholder="Cod" readonly=“true”>
                                                </div>
                                            </div>
                                        </div>


                                        <!--  TextArea oculto para passagem de dados   -->  
                                        <textarea  class="form-control rounded-0" rows="3" cols="100"
                                        name="dados_TROCA" id="dados_TROCA" readonly="true" style="display: none;" ></textarea>

                                        <div class="row">                                            
                                            <div class="col-sm-6" style="text-align: center;">
                                                
                                            
                                            <div class="col-sm-6">
                                                <!-- Campos de cadastro -->
                                                <div class="row">
                                                    <div class="col-sm-12" style="min-inline-size: -webkit-fill-available;">
                                                        <!-- Material, familia -->
                                                        <div class="row">
                                                            <!-- Material -->
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label for="nome_ADD" class="label">Nome</label>
                                                                    <input type="text" class="form-control form-control-sm"
                                                                        name="nome_ADD" id="nome_ADD"
                                                                        placeholder="Nome" required>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Descrição -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="descricao_ADD" class="label">Descrição</label>
                                                                    <input type="text" class="form-control form-control-sm"
                                                                        name="descricao_ADD" id="descricao_ADD"
                                                                        placeholder="Descrição" required>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Multiplo -->
                                                        <div class="row">
                                                            <!-- Multiplo -->
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label for="quantidade_ADD" class="label">Múltiplo</label>
                                                                    <input type="text" class="form-control form-control-sm num"
                                                                        name="quantidade_ADD" id="quantidade_ADD"
                                                                        placeholder="Quantidade" required>
                                                                </div>
                                                            </div>

                                                            <!-- Valor -->
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label for="experiencia_ADD" class="label">Experiência</label>
                                                                    <input type="text"
                                                                        class="form-control form-control-sm num"
                                                                        name="experiencia_ADD" id="experiencia_ADD" placeholder="Experiência"
                                                                        required>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- Botões -->
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit"
                                            class="btn btn-primary" id="btnSalvar_ADD">&nbsp;&nbsp;Salvar&nbsp;&nbsp;</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function filtrarUsuario() {
      var input, filter, table, tr, td, i, txtValue;

      var e = document.getElementById("usuario_troca_filter_ADD");
      var strUser = e.options[e.selectedIndex].text;
      filter = strUser.toUpperCase() ;

      table = document.getElementById("TBtable");
      tr = table.getElementsByTagName("tr");

      btn_Trocar = document.getElementById("btn_Trocar");

      
    //   for (i = 0; i < tr.length; i++) {
    //     td = tr[i].getElementsByTagName("td")[0];
    //     if (td) {
    //       txtValue = td.innerHTML.text || td.innerText;

    //       if (txtValue.toUpperCase().indexOf(filter) > -1) {
    //         tr[i].style.display = "";
    //       } else {
    //         tr[i].style.display = "none";
    //       }
    //     }
    //   }

    }
    </script>
    

<!-- Grava o texto recebido da variável status_Crud do routes/usuario
           lá no "tails.ejs" tem uma função no final que verifica o que tem neste span"
           e dispara uma função de alerta do toastr de acordo com o texto -->
<span style="display:none" id='status_Crud'><%= status_Crud %></span>