<!-- Page Content (header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row sm-2">
            <!-- Título -->
            <div class="col-sm-6">
                <h1>Meus Pokemons</h1>
            </div>
            <!-- Navegação histórica -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="admin">Home</a></li>
                    <li class="breadcrumb-item active">Cadastros</li>
                    <li class="breadcrumb-item active">Pokemon</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Page Content (conteúdo) -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <!-- Para iniciar fechado, adicione collapsed-card na class-->
                <div class="card card-primary card-outline">

                    <!-- ######################################################################### Cabeçalho -->
                    <div class="card-header">

                        <!-- Botões -->
                        <div class="btn-group">
                            <!-- Abre o modal para INSERT -->
                            <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal"
                                data-target="#modalADD">&nbsp;Adicionar&nbsp;
                            </button>
                        </div>

                        <div class="btn-group">
                            <!-- Botão para exportar dados da tabela (tableExport) -->
                            <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle"
                                data-toggle="dropdown">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                <span class="caret"></span>
                            </button>

                            <!-- Exportar -->
                            <div class="dropdown-menu" role="menu">
                                <!-- Exportar para Excel -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                $('#TBtable').tableExport({type:'excel', fileName: 'Pokemons', exportHiddenCells: true});                
                                })()"><i class="fas fa-file-excel" style="color: #118311;"></i>&nbsp;&nbsp;Ms-Excel</a>
                                <!-- Exportar para PDF -->
                                <a class="dropdown-item" style="cursor: pointer;" onclick="(function(){
                                $('#TBtable').tableExport({type:'pdf', fileName: 'Pokemons', exportHiddenCells: true});               
                                })()"><i class="fas fa-file-pdf" style="color: #d17021;"></i>&nbsp;&nbsp;PDF</a>
                            </div>
                        </div>

                        <!-- Botão Ocultar ou exibir o card -->
                        <div class="card-tools">
                            <!-- Botão Abrir/fechar card (Icone: fa-minus ou fa-plus) -->
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- Botão destruir card -->
                            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                                title="Remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>

                    </div>

                    <!-- ######################################################################### Tabela -->
                    <div class="card-body">

                        <% if (DTPokemon.length > 0) {%>
                            <table id="TBtable" class="table table-hover">
    
                                <!-- Cabeçalho: Titulos da tabela -->
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Cod</th>
                                        <th scope="col">Foto</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Descricao</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Experiencia</th>
                                        <th scope="col">Opcoes</th>
                                    </tr>
                                </thead>
    
                                <tbody>
                                    <!-- Detalhes: Dados da tabela -->
                                    <% DTPokemon.forEach((row, index) => { %>
                                    <tr>
                                        <td><%= row.id_pokemon %></td>

                                        <td>
                                            <a class='data_lighter' style="cursor: zoom-in;"
                                                href="dist/img/pokemons/<%= row.foto %>">
                                                <img src="dist/img/pokemons/<%= row.foto %>"
                                                    class="rounded-wide img-table-m" alt="">
                                            </a>
                                        </td>

                                        <td><%= row.nome %></td>
                                        <td style="min-width: 150px;"><%= row.descricao %></td>
                                        <td><%= row.quantidade %></td>
                                        <td><%= row.total_experiencia %></td>
    
                                        <!-- Coluna: Opções -->
                                        <td style="min-width: 30px;">

                                            <button class="btn btn-xs btn-warning" data-toggle="modal"
                                                data-target="#modalVIEW" onclick="(function(){
                                                    
                                                        //Setando o valor nos campos de texto 
                                                        document.getElementById('cod_VIEW').value = '<%= row.id_pokemon %>';
                                                        document.getElementById('foto_VIEW').src = 'dist/img/pokemons/<%= row.foto %>';
                                                        document.getElementById('nome_VIEW').value = '<%= row.nome %>';
                                                        document.getElementById('descricao_VIEW').value = '<%= row.descricao %>';
                                                        document.getElementById('quantidade_VIEW').value = '<%= row.quantidade %>';
                                                        document.getElementById('experiencia_base_VIEW').value = '<%= row.total_experiencia %>';
    
                                                    })()">&nbsp;&nbsp;&nbsp;Visualizar&nbsp;&nbsp;
    
                                            </button>
                                        </td>
                                    </tr>
                                    <% }) %>

                                </tbody>
    
                                <!-- Pesquisa -->
                                <tfoot>
                                    <tr>
                                        <th scope="col">Cod</th>
                                        <th scope="col">Foto</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Descricao</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Experiencia</th>
                                        <th class="th-none" scope="col">Opcoes</th>
                                    </tr>
                                </tfoot>
    
                            </table>
                            <% } else { %>
                            <!-- Não existe dados na tabela -->
                            <p class="text-center">Clique <a data-toggle="modal" data-target="#modalADD"
                                    style="cursor:pointer; color:rgb(79, 79, 255)"> aqui </a> para adicionar um novo registro.</p>
                            <% } %>

                    </div>

                    <!-- ######################################################################### Modal para ADICIONAR -->
                    <div class="modal fade" id="modalADD" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Adicionar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Conteúdo central do modal -->
                                <form role="form" action="/addPokemon" method="post" enctype="multipart/form-data">
                                    <!-- Campos do formulário -->
                                    <div class="modal-body">
                                        <!-- Cod -->
                                        <div class="row" style="display: none;">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="cod_ADD" class="label">Cod</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="cod_ADD" id="cod_ADD" placeholder="Cod" readonly=“true”>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="card-body">
                                            <div class="input-group">
                                                <label for="cod_BUSCA" class="label">&nbsp;&nbsp;Buscar&nbsp;&nbsp;</label>

                                                <div class="form-outline">
                                                    <input type="search" id="id_BUSCA" class="form-control" />
                                                </div>
                                                    <button type="button" class="btn btn-primary" onclick="(function() {
                                                            var idPokemon = document.getElementById('id_BUSCA').value;
                                                            idPokemon = idPokemon.toLowerCase();

                                                            document.getElementById('nome_BUSCA').value = '';
                                                            document.getElementById('descricao_BUSCA').value = '';
                                                            document.getElementById('experiencia_base_BUSCA').value = '';
                                                            document.getElementById('foto_BUSCA').src = '';

                                                            var link = 'https://pokeapi.co/api/v2/pokemon/'+ idPokemon;

                                                            $.ajax({
                                                                url: link,
                                                                type: 'GET',
                                                                dataType: 'json',
                                                                }).done(function( data ) {
                                                                    console.log('success');

                                                                    const v_description = 'Esta epécie conta com os seguintes atributos: abilidade: '+data.abilities[0].ability.name+', movimento: '+ data.moves[0].move.name;

                                                                    document.getElementById('id_pokemon_BUSCA').value = data.id;
                                                                    document.getElementById('nome_BUSCA').value = data.name;
                                                                    document.getElementById('descricao_BUSCA').value = v_description;
                                                                    document.getElementById('experiencia_base_BUSCA').value = data.base_experience;
                                                                    document.getElementById('foto_BUSCA').src = data.sprites.front_default;
                                                                    document.getElementById('urlFoto_BUSCA').value = data.sprites.front_default;

                                                                }).fail(function() {
                                                                    alert( 'Informação não encontrada!!' );
                                                                    console.log('error');
                                                                }).always(function() {
                                                                    console.log('complete');
                                                                });


                                                        })()" id="btnBusca" > <i class="fas fa-search"></i> 
                                                    </button>
                                                </div>

                                                <hr class="mt-5 mb-5">

                                                    <!-- Imagem -->
                                                <div class="row">                                            
                                                    <div class="col-sm-5" style="text-align: center;">
                                                        <!-- Imagem -->
                                                        <div class="form-group"
                                                            style="align-items: center;display: inline-grid;">
        
                                                            <!-- Imagem e opção para zoom -->
                                                            <img class="img-thumbnail-usuario mx-auto d-block" name="foto_BUSCA" id="foto_BUSCA" src="dist/img/generic/usuario-no-image.png">
        
                                                            <!-- Elemento input file oculto -->
                                                            <div class="custom-file" style="display: none;">
                                                                <input type="file" class="custom-file-input form-control-sm"
                                                                    name="image_BUSCA" id="image_BUSCA" onclick="(function(){
                                                                        document.getElementById('image_BUSCA').onchange = function (evt) {
                                                                            var tgt = evt.target || window.event.srcElement,
                                                                            files = tgt.files;                                 
                                                                            if (FileReader && files && files.length) {
                                                                                var fr = new FileReader();
                                                                                fr.onload = function () {                                                                        
                                                                                    document.getElementById('foto_BUSCA').src = fr.result;                                                                
                                                                                }                                  
                                                                            fr.readAsDataURL(files[0]);
                                                                            }
                                                                        }
                                                                    })()">
                                                                <label class="custom-file-label" for="image_BUSCA"></label>
                                                            </div>
                                                        </div>
                                                    </div> 

                                                    <div class="col-sm-6">
                                                        <div class="row">
                                                            <!-- Nome -->
                                                            <div class="col-sm-26">

                                                                <!-- Id Pokemon -->
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="id_pokemon_BUSCA" class="label">Id</label>
                                                                            <input type="text" class="form-control form-control-sm"
                                                                                name="id_pokemon_BUSCA" id="id_pokemon_BUSCA"
                                                                                placeholder="Id" readonly=“true”>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Controle de Imagem invisível -->
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="urlFoto_BUSCA" class="label">foto_busca</label>
                                                                            <input type="hidden" class="form-control form-control-sm "
                                                                                name="urlFoto_BUSCA" id="urlFoto_BUSCA"
                                                                                placeholder="Nome" readonly=“true”>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Nome -->
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="nome_BUSCA" class="label">Nome</label>
                                                                            <input type="text" class="form-control form-control-sm"
                                                                                name="nome_BUSCA" id="nome_BUSCA"
                                                                                placeholder="Nome" readonly=“true”>
                                                                        </div>
                                                                    </div>
                                                                </div>
        
                                                                <!-- Descricao -->
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <div class="form-group">
                                                                            <label for="descricao_BUSCA" class="label">Descrição</label>
                                                                            <textarea  class="form-control rounded-0" rows="3" cols="100"
                                                                                name="descricao_BUSCA" id="descricao_BUSCA" placeholder="Descrição" readonly=“true”></textarea>
                                                                        </div>
                                                                    </div>
                                                                </div>
        
                                                                <!-- Total Experiência -->
                                                                <div class="row">
                                                                    <div class="col-sm-4">
                                                                        <div class="form-group">
                                                                            <label for="experiencia_BUSCA" class="label">Total Exeperiência</label>
                                                                            <input type="text" class="form-control form-control-sm"
                                                                                name="experiencia_base_BUSCA" id="experiencia_base_BUSCA" placeholder="" readonly=“true”>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <!-- Botões -->
                                    <div class="modal-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary" id="btnSalvar_ADD">&nbsp;&nbsp;Salvar&nbsp;&nbsp;</button>
                                        <button type="button" class="btn btn-secondary"  onclick="(function() {
                                            window.location.reload(); })()"  data-dismiss="modal" >Fechar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- ######################################################################### Modal para VISUZALIZAR -->
                    <div class="modal fade" id="modalVIEW" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <!-- Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Visualizar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <!-- Conteúdo central do modal -->
                                <form role="form" action="/ediPokemon/ <?= document.getElementById('cod_VIEW').value ?>"
                                    method="post" enctype="multipart/form-data">
                                    <!-- Formulário para Editar usuário -->                                
                                    <div class="modal-body">

                                        <!-- Cod -->
                                        <div class="row" style="display: none;">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label for="cod_VIEW" class="label">Cod</label>
                                                    <input type="text" class="form-control form-control-sm"
                                                        name="cod_VIEW" id="cod_VIEW" placeholder="Cod" readonly=“true”>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">                                            
                                            <div class="col-sm-5" style="text-align: center;">
                                                <!-- Imagem -->
                                                <div class="form-group"
                                                    style="align-items: center;display: inline-grid;">

                                                    <!-- Imagem e opção para zoom -->
                                                    <img class="img-thumbnail-usuario mx-auto d-block" name="foto_VIEW" id="foto_VIEW">

                                                    <!-- Elemento input file oculto -->
                                                    <div class="custom-file" style="display: none;">
                                                        <input type="file" class="custom-file-input form-control-sm"
                                                            name="image_VIEW" id="image_VIEW" onclick="(function(){
                                                                document.getElementById('image_VIEW').onchange = function (evt) {
                                                                    var tgt = evt.target || window.event.srcElement,
                                                                    files = tgt.files;                                 
                                                                    if (FileReader && files && files.length) {
                                                                        var fr = new FileReader();
                                                                        fr.onload = function () {                                                                        
                                                                        document.getElementById('foto_VIEW').src = fr.result;                                                                
                                                                        }                                  
                                                                    fr.readAsDataURL(files[0]);
                                                                    }
                                                                }
                                                            })()">
                                                        <label class="custom-file-label" for="image_VIEW"></label>
                                                    </div>
                                                </div>
                                            </div>                                        

                                            <div class="col-sm-6">
                                                <div class="row">
                                                    <!-- Nome -->
                                                    <div class="col-sm-26">

                                                        <!-- Nome -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="nome_VIEW" class="label">Nome</label>
                                                                    <input type="text" class="form-control form-control-sm"
                                                                        name="nome_VIEW" id="nome_VIEW"
                                                                        placeholder="Nome" readonly=“true”>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Descricao -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="descricao_VIEW" class="label">Descrição</label>
                                                                    <textarea  class="form-control rounded-0" rows="3" cols="100"
                                                                        name="descricao_VIEW" id="descricao_VIEW" placeholder="Descrição" readonly=“true”></textarea>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Quantidade -->
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label for="quantidade_VIEW" class="label">Quantidade</label>
                                                                    <input type="text" class="form-control form-control-sm"
                                                                        name="quantidade_VIEW" id="quantidade_VIEW" placeholder=""readonly=“true”>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Total Experiência -->
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label for="experiencia_VIEW" class="label">Total Exeperiência</label>
                                                                    <input type="text" class="form-control form-control-sm"
                                                                        name="experiencia_base_VIEW" id="experiencia_base_VIEW" placeholder="" readonly=“true”>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Botões -->
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Grava o texto recebido da variável status_Crud do routes/usuario
           lá no "tails.ejs" tem uma função no final que verifica o que tem neste span"
           e dispara uma função de alerta do toastr de acordo com o texto -->
<span style="display:none" id='status_Crud'><%= status_Crud %></span>